<div class="container mx-auto p-5">
  <div class="flex flex-col items-center bg-white p-4 shadow rounded-lg">
    <div class="avatar mb-4">
      <span class="font-bold">アバター画像</span>
      <div class="w-24 rounded-full">
      <%= image_tag current_user.avatar.present? ? current_user.avatar.url : 'avatar.jpg', class: 'rounded-full w-24 h-24 object-cover' %>
      </div>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">ユーザー名</span>
      <%= current_user.name %>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">メールアドレス</span>
      <%= current_user.email %>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">パスワード</span>
      非表示
      
      <%= link_to '編集', edit_profile_path, class: 'btn btn-outline' %>
    </div>
  </div>
</div>


<!-- =begin

<div class="container mx-auto p-5">
  <div class="flex flex-col items-center bg-white p-4 shadow rounded-lg">
    <div class="avatar mb-4">
      <div class="w-24 rounded-full">
        image_tag('path_to_avatar_image', alt: 'avatar')
      </div>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">ユーザー名</span>
      <span>@user.name</span>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">メールアドレス</span>
      <span>@user.emai</span>
    </div>
    <div class="flex flex-col items-center mb-4">
      <span class="font-bold">パスワード</span>
      link_to '編集', edit_user_password_path(@user), class: 'btn btn-outline'
    </div>
    <div class="badge badge-outline">編集</div>
  </div>
</div>

=end -->