<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl text-center">リリースノート</h2>


    <%= render 'note', release_notes: @release_notes %>

    <div class="mt-4 flex justify-center">
<% if current_user&.admin? %>
  <%= link_to '投稿する', new_release_note_path, class: "mr-4 btn btn-outline col-span-2 sm:col-span-1 max-w-xs" %>
<% end %>
      <%= link_to '戻る', 'javascript:history.back()', class: "btn btn-outline col-span-2 sm:col-span-1 max-w-xs" %>
    </div>
  </div>
</section>
