<footer class="text-gray-600 body-font">
  <div class="bg-gray-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
<div class="container mx-auto flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-4 text-xs sm:text-sm">
  <%= link_to '利用規約', terms_of_service_path %>　|　  
  <%= link_to 'プライバシーポリシー', privacy_policy_path %>　|　  
  <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLScdBVBzYZ7O2flvV12Xgu_hop4hpiiwIPv8iTpH9wPagp_aog/viewform', target: "_blank", rel: "noopener noreferrer" %>
</div>
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2024 PictoMemory</p>

    </div>
  </div>
</footer>