@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dropdown {
  max-height: 200px; /* 10項目分の高さに調整する */
  overflow-y: scroll;
}

.bg-count-0  { fill: #58f2f2; }
.bg-count-1  { fill: #58f2de; }
.bg-count-2  { fill: #58f2c6; }
.bg-count-3  { fill: #58f2a4; }
.bg-count-4  { fill: #58f277; }
.bg-biwa { fill: #FFFFFF}

.bg-count-0:hover {
  transform: translateY(-5px);
}

path {
  transition: transform 0.3s ease; /* アニメーションの持続時間とイージング */
}

path:hover {
  transform: translateY(-5px); /* Y軸方向に上に移動 */
}

.hover path {
  transition: transform 0.3s ease; /* アニメーションの持続時間とイージング */
}

.hover path:hover {
  transform: translateY(-5px); /* Y軸方向に上に移動 */
}

path {
  transition: transform 0.3s ease; /* アニメーションの持続時間とイージング */
}

path:hover {
  transform: translateY(-5px); /* Y軸方向に上に移動 */
}